USE [POS_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[TransactionItemType] ******/

-- This type is redeployed with an added LineNumber column so that
-- SP_CreateTransaction can correlate modifiers to the correct cart line
-- even when two lines share the same VariantId (e.g. the same product
-- ordered twice with different modifier choices). Dropping/recreating a
-- table type requires first dropping anything that references it.
IF OBJECT_ID(N'[dbo].[SP_CreateTransaction]', N'P') IS NOT NULL
    DROP PROCEDURE [dbo].[SP_CreateTransaction];
GO

IF EXISTS (SELECT 1 FROM sys.types WHERE name = 'TransactionItemType' AND is_table_type = 1)
    DROP TYPE [dbo].[TransactionItemType];
GO

CREATE TYPE [dbo].[TransactionItemType] AS TABLE(
	[LineNumber] [int] NOT NULL,
	[VariantId] [int] NULL,
	[ProductName] [nvarchar](200) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[TaxRate] [decimal](5, 4) NULL,
	[LineSubtotal] [decimal](18, 2) NULL,
	[LineTax] [decimal](18, 2) NULL,
	[LineTotal] [decimal](18, 2) NULL
)
GO

-- SP_CreateTransaction is recreated by
-- DAL/db/StoredProcedures/dbo.SP_CreateTransaction.StoredProcedure.sql,
-- which must run after this script in the deployment order (it already
-- does — see 00_Master_Deployment.sql, UDTs run before Stored Procedures).
