USE [POS_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[TransactionItemModifierType] ******/

-- Carries modifier selections into SP_CreateTransaction alongside @Items.
-- LineNumber matches the LineNumber of the cart line in @Items that this
-- modifier belongs to (not VariantId — a cart can have two lines with the
-- same VariantId and different modifier choices).
IF EXISTS (SELECT 1 FROM sys.types WHERE name = 'TransactionItemModifierType' AND is_table_type = 1)
    DROP TYPE [dbo].[TransactionItemModifierType];
GO

CREATE TYPE [dbo].[TransactionItemModifierType] AS TABLE(
	[LineNumber] [int] NOT NULL,
	[ModifierOptionId] [int] NULL,
	[ModifierGroupId] [int] NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[OptionName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAdd] [decimal](18, 2) NOT NULL,
	[IsDefault] [bit] NOT NULL
)
GO
