USE [POS_DB]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 05/07/2026 12:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OpenedAt] [datetime2](0) NOT NULL,
	[ClosedAt] [datetime2](0) NULL,
	[OpeningCash] [decimal](18, 2) NOT NULL,
	[ClosingCash] [decimal](18, 2) NULL,
	[ExpectedCash] [decimal](18, 2) NULL,
	[CashDifference] [decimal](18, 2) NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_OpenedAt]  DEFAULT (sysutcdatetime()) FOR [OpenedAt]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_OpeningCash]  DEFAULT ((0)) FOR [OpeningCash]
GO
ALTER TABLE [dbo].[Shifts] ADD  CONSTRAINT [DF_Shifts_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Users]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ClosedAfterOpened] CHECK  (([ClosedAt] IS NULL OR [ClosedAt]>=[OpenedAt]))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ClosedAfterOpened]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ClosingCash] CHECK  (([ClosingCash] IS NULL OR [ClosingCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ClosingCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_ExpectedCash] CHECK  (([ExpectedCash] IS NULL OR [ExpectedCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_ExpectedCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_OpeningCash] CHECK  (([OpeningCash]>=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_OpeningCash]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [CK_Shifts_Status] CHECK  (([Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [CK_Shifts_Status]
GO
