USE [POS_DB]
GO
/****** Object:  Table [dbo].[TransactionItems]    Script Date: 05/07/2026 12:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItems](
	[TransactionItemId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TaxRate] [decimal](9, 4) NOT NULL,
	[LineSubtotal] [decimal](18, 2) NOT NULL,
	[LineTax] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TransactionItems] PRIMARY KEY CLUSTERED 
(
	[TransactionItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransactionItems] ADD  CONSTRAINT [DF_TransactionItems_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_Transactions] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([TransactionId])
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_Transactions]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [FK_TransactionItems_ProductVariants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE NO ACTION
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [FK_TransactionItems_ProductVariants]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_LineSubtotal] CHECK  (([LineSubtotal]>=(0)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_LineSubtotal]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_LineTax] CHECK  (([LineTax]>=(0)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_LineTax]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_LineTotal] CHECK  (([LineTotal]>=(0)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_LineTotal]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_Quantity]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_TaxRate] CHECK  (([TaxRate]>=(0) AND [TaxRate]<=(1)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_TaxRate]
GO
ALTER TABLE [dbo].[TransactionItems]  WITH CHECK ADD  CONSTRAINT [CK_TransactionItems_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[TransactionItems] CHECK CONSTRAINT [CK_TransactionItems_UnitPrice]
GO