USE [POS_DB]
GO
/****** Object:  Table [dbo].[PurchaseReceipts]    Script Date: 05/07/2026 12:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptTypeId] [tinyint] NOT NULL,
	[SupplierId] [int] NULL,
	[InvoiceNumber] [nvarchar](100) NOT NULL,
	[InvoiceDate] [date] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[VatRate] [decimal](5, 2) NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  CONSTRAINT [DF_PurchaseReceipts_Subtotal]  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  CONSTRAINT [DF_PurchaseReceipts_VatRate]  DEFAULT ((0)) FOR [VatRate]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  CONSTRAINT [DF_PurchaseReceipts_VatAmount]  DEFAULT ((0)) FOR [VatAmount]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  CONSTRAINT [DF_PurchaseReceipts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_ReceiptType] FOREIGN KEY([ReceiptTypeId])
REFERENCES [dbo].[PurchaseReceiptTypes] ([ReceiptTypeId])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_ReceiptType]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_Supplier]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_User]
GO
