USE [POS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTransaction] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID(N'[dbo].[SP_CreateTransaction]', N'P') IS NOT NULL
    DROP PROCEDURE [dbo].[SP_CreateTransaction];
GO

CREATE PROCEDURE [dbo].[SP_CreateTransaction]
(
	-- Header
	@ShiftId				INT,
	@CashierId				INT,
	@Subtotal				DECIMAL(10,2),
	@TaxTotal				DECIMAL(10,2),
	@GrandTotal				DECIMAL(10,2),
	@Notes					NVARCHAR(500) = NULL,

	-- Payment
	@PaymentMethod			NVARCHAR(20),
	@AmountTendered			DECIMAL(10,2),
	@ChangeGiven			DECIMAL(10,2),
	@ReferenceNumber		NVARCHAR(100) = NULL,

	-- Items
	@Items TransactionItemType READONLY,

	-- Item modifiers. Correlated to @Items by LineNumber, not VariantId,
	-- because a cart can contain two lines with the same VariantId (the
	-- same product added twice with different modifier choices).
	@Modifiers TransactionItemModifierType READONLY
)
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @TransactionId INT;
	DECLARE @ReceiptNumber NVARCHAR(50);

	-- Maps each inserted TransactionItems row back to the LineNumber it
	-- came from, so modifiers can be attached to the correct line below.
	DECLARE @ItemLineMap TABLE
	(
		TransactionItemId INT NOT NULL,
		LineNumber INT NOT NULL
	);

	BEGIN TRY
		BEGIN TRANSACTION;

		-----------------------------------------------------------
		-- 1. Validate Shift
		-----------------------------------------------------------
		IF NOT EXISTS
		(
			SELECT 1
			FROM Shifts WITH (UPDLOCK, HOLDLOCK)
			WHERE ShiftId = @ShiftId
				AND UserId = @CashierId
				AND Status = 1
		)
		BEGIN
			RAISERROR('No open shift found for this cashier.', 16, 1);
		END

		DECLARE @ReceiptNumber1 NVARCHAR(50);
		EXEC dbo.SP_GetNextReceiptNumber @ReceiptNumber1 OUTPUT;

		INSERT INTO Transactions
		(
			ReceiptNumber,
			ShiftId,
			CashierId,
			TransactionDate,
			Subtotal,
			TaxTotal,
			GrandTotal,
			Status,
			Notes,
			CreatedAt
		)
		VALUES
		(
			@ReceiptNumber1,
			@ShiftId,
			@CashierId,
			SYSDATETIME(),
			@Subtotal,
			@TaxTotal,
			@GrandTotal,
			0,
			@Notes,
			SYSDATETIME()
		);

		SET @TransactionId = SCOPE_IDENTITY();

		-----------------------------------------------------------
		-- 2. Validate product variants
		-----------------------------------------------------------
		IF EXISTS
		(
			SELECT 1
			FROM @Items i
			LEFT JOIN ProductVariants pv
				ON pv.VariantId = i.VariantId
				AND pv.IsActive = 1
			WHERE pv.VariantId IS NULL
		)
		BEGIN
			RAISERROR('One or more product variants are inactive or do not exist.', 16, 1);
		END

		-----------------------------------------------------------
		-- 3. Validate modifier lines reference a real cart line
		-----------------------------------------------------------
		IF EXISTS
		(
			SELECT 1
			FROM @Modifiers m
			LEFT JOIN @Items i ON i.LineNumber = m.LineNumber
			WHERE i.LineNumber IS NULL
		)
		BEGIN
			RAISERROR('One or more modifiers reference a cart line that does not exist.', 16, 1);
		END

		-----------------------------------------------------------
		-- 4. Insert transaction items, capturing TransactionItemId
		--    per LineNumber so modifiers can be attached below.
		-----------------------------------------------------------
		MERGE INTO TransactionItems AS tgt
		USING @Items AS src
		ON 1 = 0
		WHEN NOT MATCHED THEN
			INSERT
			(
				TransactionId,
				VariantId,
				ProductName,
				UnitPrice,
				Quantity,
				TaxRate,
				LineSubtotal,
				LineTax,
				LineTotal
			)
			VALUES
			(
				@TransactionId,
				src.VariantId,
				src.ProductName,
				src.UnitPrice,
				src.Quantity,
				src.TaxRate,
				src.LineSubtotal,
				src.LineTax,
				src.LineTotal
			)
		OUTPUT inserted.TransactionItemId, src.LineNumber
		INTO @ItemLineMap (TransactionItemId, LineNumber);

		-----------------------------------------------------------
		-- 5. Insert modifiers in the same transaction, attached to the
		--    correct line via @ItemLineMap (not VariantId).
		-----------------------------------------------------------
		INSERT INTO TransactionItemModifiers
		(
			TransactionItemId,
			ModifierOptionId,
			ModifierGroupId,
			GroupName,
			OptionName,
			Quantity,
			PriceAdd,
			LineTotal,
			IsDefault
		)
		SELECT
			map.TransactionItemId,
			mod.ModifierOptionId,
			mod.ModifierGroupId,
			mod.GroupName,
			mod.OptionName,
			mod.Quantity,
			mod.PriceAdd,
			mod.PriceAdd * mod.Quantity,
			mod.IsDefault
		FROM @Modifiers mod
		JOIN @ItemLineMap map ON map.LineNumber = mod.LineNumber;

		INSERT INTO Payments
		(
			TransactionId,
			AmountTendered,
			ChangeGiven,
			PaymentMethod,
			ReferenceNumber,
			PaidAt
		)
		VALUES
		(
			@TransactionId,
			@AmountTendered,
			@ChangeGiven,
			@PaymentMethod,
			@ReferenceNumber,
			SYSDATETIME()
		);

		UPDATE Transactions
		SET Status = 1
		WHERE TransactionId = @TransactionId;

		COMMIT;

		SELECT @TransactionId AS TransactionId;
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK;
		THROW;
	END CATCH
END
GO
