USE [POS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTransactionsReport]    Script Date: 05/07/2026 12:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTransactionsReport]
(
    @PeriodType NVARCHAR(10),
    @FromDate   DATE = NULL,
    @ToDate     DATE = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME;
    DECLARE @EndDate   DATETIME;

    -------------------------------------------------
    -- 1. PERIOD LOGIC
    -------------------------------------------------
    IF @PeriodType IN ('Custom', 'Today', 'Week', 'Month')
    BEGIN
        EXEC dbo.SP_GetPeriodDateRange
            @PeriodType = @PeriodType,
            @FromDate = @FromDate,
            @ToDate = @ToDate,
            @StartDate  = @StartDate OUTPUT,
            @EndDate    = @EndDate OUTPUT;
    END
    ELSE
    BEGIN
        RAISERROR('Invalid PeriodType. Expected Today, Week, Month, or Custom.', 16, 1);
        RETURN;
    END

    -------------------------------------------------
    -- 2. DATA RESULT
    -------------------------------------------------
    SELECT *
    FROM vw_TransactionsReport
    WHERE TransactionDate >= @StartDate
      AND TransactionDate <  @EndDate
    ORDER BY TransactionDate ASC;
END
GO
